body {
  background-image: url('../img/background.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  padding: 2rem;
}
.site-header {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  border-top: 2px solid #00e0ff;
  border-right: 2px solid #00e0ff;
  border-left: 2px solid #00e0ff;
  border-bottom: 2px solid #00e0ff;
  position: relative;
  z-index: 1000;
  max-width: 500px;
  margin-left: 2rem;
}
.site-title {
  font-size: 2rem;
  font-weight: bold;
  color: #00e0ff;
  text-shadow: 0 0 10px #00e0ff;
  margin-left: 2rem;
}
.logo {
  width: 300px;
  height: auto;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}
.about-container h2 {
  text-align: center;
  width: 100%;
}
.about-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  border-top: 2px solid #00e0ff;
  border-right: 2px solid #00e0ff;
  border-left: 2px solid #00e0ff;
  border-bottom: 2px solid #00e0ff;
  max-width: 500px;
  margin-left: 2rem;
}
main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.project-section {
  margin: 0rem;
  max-width: 600px;
}
.project-section h2 {
  font-size: 1.4rem;
  color: #00e0ff;
  text-shadow: 0 0 10px #00e0ff;
  margin: 0rem;
}
.project-section a {
  color: #00e0ff;
  text-decoration: none;
}
.project-section a:hover {
  text-decoration: underline;
}
.section-heading {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-left: 2rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 8px #000;
}